main {
    position: relative;            /* Para que o ::before funcione corretamente */
    background-color: var(--color-black);
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;             /* Garante que nada extravase */
}

main::before {
    content: '';
    position: absolute;           /* Posiciona a pseudo-classe em relação ao main */
    top: 0;                       /* Alinha ao topo */
    left: 0;                      /* Alinha à esquerda */
    right: 0;                     /* Estende até a direita */
    bottom: 0;                    /* Estende até a parte inferior */
    background-image: url(../assets/backg.jpg);
    background-size: cover;       /* Faz com que a imagem cubra todo o elemento */
    background-position: center;  /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    opacity: 0.08;                 /* Ajuste a opacidade aqui (0 a 1) */
    z-index: 0;                   /* Coloca a imagem atrás do conteúdo */
}

main > * {
    position: relative;           /* Garante que o conteúdo seja exibido sobre a imagem */
    z-index: 1;                  /* Coloca o conteúdo acima da imagem de fundo */
}


.container{
    height: calc(100% - 40px);
    max-width: 1800px;
}

.box{
    display: flex;
    width: 100%;
    height: 100%;
}

.boxOne{
    width: 40%;
    padding: 10px;
    padding-top: 120px;
}

.boxTwo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 10px;
}

.boxImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-left: 100px;
}

.textLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    border-left: 2px solid var(--color-primaria);
}

.boxOne .nomeLogoH1{
    width: 140px;
    text-align: justify;
    text-align-last: justify;
    font-size: 32px;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.boxOne .nomeLogoH2{
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    text-transform: uppercase;
    width: 130px;
    text-align: justify;
    text-align-last: justify;
    letter-spacing: 1px;
}

.boxOne .titulo{
    margin-top: 60px;
    font-size: 26px;
    padding: 10px 0px;
}

.boxOne .subTitulo{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
    text-align: justify;
    text-indent: 50px;
}

.imgLogo{
    height: 90px;
    padding-right: 20px;
}

.imgProfessor{
    height: 80%;
}

.lineScroll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: var(--color-primaria);
}

.imgSetas{
    height: 50px;
    transition: ease 1s;
}

.imgSetas:hover{
    transition: ease 1s;
    transform: scale(1.2);
}

.span{
    color: var(--color-primaria);
    font-size: 22px;
    font-weight: 500;
}

@media (max-width: 1440px){
    .container{
        max-width: 1200px;
    }
    .boxOne .subTitulo{
        margin-top: 10px;
        font-size: 18px;
        font-weight: 500;
        text-align: justify;
        text-indent: 50px;
    }
}

@media (max-width: 1440px){
    .boxOne .subTitulo{
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
        text-indent: 50px;
    }
    .span{
        color: var(--color-primaria);
        font-size: 16px;
        font-weight: 500;
    }
}

@media (max-width: 999px){
    .container{
        max-width: 1000px;
    }

    .boxOne{
        width: 100%;
    }

    .boxTwo{
        display: none;
    }

    .boxImage{
        padding-left: 0px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 768px;
    }

    .span{
        color: var(--color-primaria);
        font-size: 17px;
        font-weight: 500;
    }
}

