.section{
    background-color: var(--color-black);
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.container{
    max-width: 1400px;
    margin:0 auto;
}

.swiper_slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxFrase{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.boxFrase h1{
    font-size: 20px;
    text-transform: uppercase;
}